*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    text-align: center;
  display: grid;
  height: 100vh;
  width: 100%;
  grid-gap: 10px;
  grid: 1fr 2fr 1fr / repeat(4,1fr);
}

header{
    background: aquamarine;
}

main{
    background: pink;
}

aside{
    background: yellow;
}

footer{
    background: orange;
}