* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    height: 600px;
    width: 800px;
    background: #09024b;
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 10px;

    /* grid-auto-flow: row; por defecto viene asi */

    /* grid-auto-flow: column; Se ordenan en columnas*/

    grid-auto-flow: row dense; /*Se ordenan en columnas*/




    /*Para los elementos que salgan de los cuadrados*/
    grid-auto-columns: 200px; /*tamaño por defecto*/
    grid-auto-rows: 200px; /*tamaño por defecto*/

}

body{
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.item1 , .item8{
    background: chartreuse;
    /* grid-column: span 2; */
}

.item2 , .item7{
    background: cornflowerblue;
}

.item3 , .item6 {
    background: darkgray;
}

.item4 , .item5{
    background: darkorchid;
}