:root{
    --imagen1:url(https://placeimg.com/640/480/nature);
    --imagen2:url(https://placeimg.com/640/480/animals);
    --imagen3:url(https://placeimg.com/640/480/any);
    --imagen4:url(https://placeimg.com/640/480/people);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    outline: 2px solid #000;
    width: 90%;
    /* max-width: 600px; */
    /* height: 600px; */
    height: 100vh;
    margin: 30px auto;

    display: grid; /*Grid por defecto esta en filas*
    
    /*centrado verticalmente en base a sus filas
    align-items: stretch | center | start 1 end;
    */
    /*Se encarga de manipular los elementos horizontalmente
    justify-items: stretch | start | end | center ;
        */
    /* grid-auto-flow: column; */

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px;

    grid-template-areas: 
    "element1 element1 element2"
    "element3 element3 element2"
    "element3 element3 element2"
    "element4 element4 element4"
    ;


}

.element{
    font-size: 2rem;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-size: cover;
    background-position: center bottom;
}

.element1{
    background-color: crimson;
    background-image: var(--imagen1);
    /* grid-column: 1/3;
    grid-row: 1/2; */
    grid-area: element1;
}

.element2{
    background-color: dodgerblue;
    background-image: var(--imagen2);
    /* grid-column: 3/4;
    grid-row: 1/4; */
    grid-area: element2;

}

.element3{
    background-color: coral;
    background-image: var(--imagen3);
    /* grid-column: 1/3;
    grid-row: 2/4; */
    grid-area: element3;

}

.element4{
    background-color: darkslateblue;
    background-image: var(--imagen4);
    /* grid-column: 1/-1;
    grid-row: 4/5; */
    grid-area: element4;
}

@media screen and (max-width: 800px) {
    .container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
        gap: 10px;
        grid-template-areas: 
        "element1 element1 element2"
        "element3 element3 element2"
        "element3 element3 element2"
        "element4 element4 element2"
        ;
    }

@media screen and (max-width: 500px) {
    .container{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat(4,1fr);
        gap: 10px;
        grid-template-areas: 
        "element1"
        "element2"
        "element3"
        "element4"
        ;
    }
}

